
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --color-primary:#f3f5f8 ;
    --color-font: #3d535f;
}

body{
    overflow: hidden;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-primary);
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
}

.logo{
    display: flex;

    font-size: 40px;
    font-weight: 800;
    color: var(--color-font);
    letter-spacing: 6px;
    cursor: pointer;
    text-transform: uppercase;
}   

.itemsMenu{
    display: flex;
   
}

.itemsMenu li{
    list-style: none;
    margin: 0 15px;
}


.itemsMenu a{

    font-size: 25px;
    color: var(--color-font);
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.button-container{
    
}