*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --color-primary:#f3f5f8 ;
    --color-font: #AB2EE6;
    --color-darkmode: #292929;
}


body{
    overflow: hidden;
    background-color: var(--color-primary);
    transition: background 0.2s linear;
    
}

.background-image img{
    background-image: url(/assets/images/wave.svg);
    position: absolute;
    top:55%;
    width: 100%;
    height: 100%;
}

body.dark{
    background-color: var(--color-darkmode);
}

.button .dark{
    background-color: var(--color-darkmode);
}

.checkbox{
    opacity: 0;
    position: absolute;

}

.label{
    background-color: #111111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 50px;
    margin: 30px;

    transform: scale(1.5);
}

.label .button{
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 22px;
    transform: translateX(0);
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .button{  /* quando for clicado(checado, vai pegar o label e dentro do label vai pegar o button e assim ele vai movimentar */
    transform: translateX(25px);
}



.moon img{
    display: flex;
    width: 15px;
    height: 15px;
}



.sun img{
    display: flex;
    width: 15px;
    height: 15px;
    right: 0
;
}


nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
}


.logo{
    display: flex;
    cursor: pointer;
    fill: var(--color-font);
}   

.logo img{
    height: 70px;
    width: 70px;
    color: var(--color-font);
    
}

.itemsMenu{
    display: flex;
   
}

.itemsMenu li{
    list-style: none;
    margin: 0 15px;
}


.itemsMenu a{

    font-size: 25px;
    color: var(--color-font);
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: capitalize;
}
h1, h2{
    color: var(--color-font);
    font-weight:  800;
    font-size: 2.5rem;
    margin: 5px;
}

p{
    color: var(--color-font);
    font-weight: 700;
    margin: 10px;
    
    font-size: 1rem;
    font-style: italic;
}


.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image-content {
    height: 30vw;
    padding: 10px;
    
    margin: 40px;
    
    
}

.image-content img{
    width: 900px;
    height: 600px;
}

.home-content{
    margin: 10vh;
    padding: 5rem;
}

.home-content img{
    margin: 25px;
    height: 50px;
}

.home-content a{
    list-style: none;
    
    color: var(--color-font);
}

